:root {
    --brand-color: #434455;
    --primary-brand: #4D5AE5;
    --dark: #2E2F42; 
    --accent: #E7E9FC; 
    --light: #F4F4FD; 
}

.body {
    font-family: 'Roboto', sans-serif;
        letter-spacing: 0.02em;
        color: var(--brand-color);
        background-color: #FFFFFF;
}

.contact-link {
    color: var(--dark);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--primary-brand);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.web {

        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
            text-transform: uppercase;
        color: var(--primary-brand);
   
}

.studio-header {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
    letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--dark);

}

.studio-footer {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--light);
}

.menu-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.menu-nav .nav-link:hover,
.menu-nav .nav-link:focus
 {
    color: var(--brand-color);
    font-weight: 500;
}

 .menu-nav .nav-link:active {
    color: var(--primary-brand)
 }


.solution {
background-color: var(--dark);
}

.solution-head {
        font-weight: 600;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
}

.button {
    cursor: pointer;
}

.button-portfolio {
    font-family: 'Roboto';
    background: var(--light);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-brand);
}

.button-portfolio:hover, .button-portfolio:focus {
background-color: var(--primary-brand);
color: #FFFFFF;
}

.button-service {
    width: 170px;
        height: 51px;
    background: var(--primary-brand);
    color: #FFFFFF;
    font-weight: 600;
        font-size: 16px;
        line-height: 1.18;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-service:hover, 
.button-service:focus {
background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-service:active {
    background: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

h3 {
    font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: var(--dark);
}

h2 {
font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
}

.footer {
    background: var(--dark);
}

.text-footer{
        color: var(--accent);
}

a[href] {
    text-decoration: none;
}

.list {
    list-style: none;
}

.our-team {
    background-color: var(--light);
}

.team {
    background-color: #FFFFFF;
}